@import "@/styles/mixins/breakpoints";

.order {
  display: flex;
  width: 100%;
  position: relative;
  padding: 40px 0;
  flex-wrap: wrap;

  @include media-breakpoint-up(md) {
    padding: 80px 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 120px 0 150px;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #272733;
    background-image: url("/images/2843d2cd2c51cde98e96268b106350ed.png");
    background-position: 50%;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
    opacity: 0.1;
  }
}
.header {
  width: 100%;
  text-align: center;
  margin: 0 0 40px 0;

  @include media-breakpoint-up(lg) {
    margin: 0 0 80px 0;
  }
}
.title {
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  line-height: 140%;

  @include media-breakpoint-up(lg) {
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 30px 0;
  }

  span {
    color: var(--color-accent);
  }
}
.subtitle {
  font-size: 14px;
  color: #bbbbbb;
  margin: 0;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}
.steps {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
  position: relative;

  &:after {
    @include media-breakpoint-up(sm) {
      content: "";
      position: absolute;
      top: 30px;
      left: 40px;
      right: 40px;
      height: 40px;
      z-index: -1;
      background-image: radial-gradient(#c4c4c4 15%, rgba(255, 255, 255, 0) 0%);
      background-position: 50%;
      background-size: 30px 30px;
      background-repeat: repeat-x;
    }
    @include media-breakpoint-up(md) {
      top: 15px;
      left: 100px;
      right: 100px;
    }
    @include media-breakpoint-up(lg) {
      top: 30px;
      left: 120px;
      right: 120px;
    }
  }
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 120px;
  min-width: 120px;
  margin: 0;
  padding: 0 10px;

  @include media-breakpoint-up(md) {
    max-width: 20%;
    min-width: 20%;
    padding: 0;
  }

  &:hover {
    .step_icon {
      background-color: var(--color-orange);
      border-color: #fff;

      svg {
        transform: scale(0.9);
      }
    }
  }
}
.step_icon {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 200px;
  margin: 0 0 10px 0;
  background-color: #3e9cdc;
  border: 5px solid #286690;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.4s;

  @include media-breakpoint-up(md) {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    height: 70px;
  }

  @include media-breakpoint-up(lg) {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    margin: 0 0 20px 0;
  }

  svg {
    width: 30px;
    height: 30px;
    float: left;
    transition: all 0.4s;

    @include media-breakpoint-up(lg) {
      width: 40px;
      height: 40px;
    }
    @include media-breakpoint-up(xl) {
      width: 55px;
      height: 55px;
    }
  }
}
.step_text {
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
  font-size: 12px;
  word-break: break-word;
  user-select: none;

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
  @include media-breakpoint-up(lg) {
    padding: 0 10px;
    font-size: 16px;
  }
}
