$color: var(--color-background);

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px 0;
  display: flex;
  background-color: $color;
  background-color: color-mix(in srgb, $color 90%, transparent);
  z-index: 99;
}
.logo {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 40px;
  font-family: "Raleway", sans-serif;

  span {
    color: var(--color-accent);
  }
}
.nav {
  display: flex;
}
.nav_item {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  margin: 0 0 0 60px;

  &:first-child {
    margin: 0;
  }
}
.active {
  color: var(--color-accent);
}
